{% extends "base.html" %}
{% block title %} You are logged in {% endblock %}

{% block content %}

<form action="/search_music" method="POST">
    <div class="form-group">
        <label for="SearchMusic"></label>
        <input name="song_name" class="form-control" id="SearchMusic" placeholder="Search Music">
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-lg btn-success">Submit</button>
        </div>
    </div>
</form>

{% if songs  %}
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for song  in songs %}
<form action="/store_features" method="POST">
            <div class="form-group">

                <input type="hidden" value={{ song.song_id }} name="song_id" class="form-control">
                <input type="hidden" value={{ song.preview_url }} name="preview_url" class="form-control">
    </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ song.album_image_url }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
                <div class="card-body">
                  <p class="card    -text">{{ song.song_name }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                      <button type="submit" class="btn btn-sm btn-outline-secondary">Play</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</form>
            {% endfor %}
          </div>
        </div>
      </div>

{% endif %}

{% endblock %}


